# ignore

600-*/
700-*/
800-*/
900-*/

*.log
*.png
*jpg
*.jpeg
git 
*.pdf


# python
*.pyc
__pycache__
venv*/
migrations
**/xops/static/
dj_blog/

# temp
*.swp
build/
dist/

# ssh
.ssh

# obsidian
.obsidian
.Trash
.DS_Store


.vscode/

# nodejs
node_modules/